*.o
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gbafix
gbalzss
gbfs
insgbfs
install-sh
lsgbfs
missing
src/.deps/
src/.dirstamp
ungbfs
